.inbox-linshare-files-inserter-modal {
  z-index: @zindex-modal+1 !important; // Overrides Bootstrap's defaults

  .modal-dialog .modal-content .modal-body {
    linshare-myspace-file-browser {
      .listview {
        height: 100%;
      }

      .lv-body {
        overflow-y: scroll;
        height: ~"calc(100% - 110px)";
      }

      @media (min-width: @screen-md-min) {
        .lv-body {
          max-height: ~"calc(60vh - 110px)";
        }
      }
    }
  }
}
